<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="takenotemodal">
  <button type="button" class="btn btn-primary  btn-lg modalbtn" data-toggle="modal" data-target="#exampleModal">
    <h1 class="modalnote">Take Note</h1>
  </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Take Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="dynamic">
        <ng-container *ngComponentOutlet="TakeNote"></ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<mat-grid-list class="gridview" cols="6">
  <mat-grid-tile *ngFor="let note of notes" [colspan]="2" [rowspan]="2">
    <mat-card class="example-card" style="background-color:bisque;width: 350px;">
      <mat-card-header>
        <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>build</mat-icon>
            <span>edit</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>class</mat-icon>
            <span>Mark</span>
          </button>
          <button mat-menu-item>
            <mat-icon>lock</mat-icon>
            <span>lock</span>
          </button>
        </mat-menu>
        <mat-card-title>
          <h4><b>{{note.title}}</b></h4>
        </mat-card-title>
      </mat-card-header>
      <hr>
      <hr>
      <mat-card-content>
        <p>
          {{note.text}}
          <!-- {{note.pinStat}} -->
        </p>
      </mat-card-content>
      <hr>
      <mat-card-content>
        <i class="material-icons">
          label
        </i>

        <ul class="card-text" *ngFor="let lab of note.label">
         <li> {{lab.label}}</li>
        </ul>

        <hr>
        <i class="material-icons">
            toc
            </i>
        <ul class="card-text" *ngFor="let list of note.checklist">
          <li>{{list.list}}</li>
        </ul>
        <hr>
        <label for="pin">Pinned :
          <mat-radio-button name="Pinned" id="pin" [checked]="note.pinStat"></mat-radio-button>
        </label>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="delete" matTooltip="Delete" color="warn" (click)=onClick(note)>
          <i class="material-icons">
            delete
          </i>
        </button>
        <button class="edit" mat-button matTooltip="Edit" aria-label="Button that displays a tooltip when focused or hovered over"
          data-toggle="modal" data-target="#exampleModal" color="primary" (click)=onClickEdit(note) routerLink="/edit/{{note.id}}">
          <i class="material-icons">
            edit
          </i>
        </button>
      </mat-card-actions>
      <hr>
      <hr>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
